body{
    font-family: 'Arvo', serif;
}

.legcarrossel{
    color: #bef0dd;
    text-shadow: 3px 3px 5px #011c1d;
}

.legcarrossel2{
    font-size: 1.5em;
    color: #bef0dd;
    text-shadow: 3px 3px 5px #011c1d;
}