body{
    font-family: 'Arvo', serif;
}

.corbody{
    background-color: #9FD1CB;
}


section{
    background-color: #2f8076;
    border-radius: 20px;
    padding: 2%;
}

.legcarrossel{
    color: #bef0dd;
    text-shadow: 3px 3px 5px #0b2e2a;
}

.legcarrossel2{
    font-size: 1.5em;
    color: #bef0dd;
    text-shadow: 3px 3px 5px #0b2e2a;
}

#introducao, #galeria, #temporada2, #personagens, #livro1, #livro2, #livro3, #autora{
    margin-top: 2%;
}

.espacocol3{
    margin-bottom: 2%;
}

.imggaleria, .imgsobre, .imgperso{
    width: 100%;
    border-radius: 10px;
}

.img2temp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
}

.detalhesmenu{
    background-color: #2f8076;
}

.imgmenu{
    width: 20%;
    margin-left: 10%;
}

.tamp{
    font-size: larger;
    text-indent: 25px;
}

.escritamenu{
    font-size: 1.2em;

}