body{
    font-family: 'Arvo', serif;
}

.corbody{
    background-color: #93BFA3;
}


section{
    background-color: #648d73;
    border-radius: 20px;
    padding: 2%;
}

.legcarrossel{
    color: #bef0dd;
    text-shadow: 3px 3px 5px #011c1d;
}

.legcarrossel2{
    font-size: 1.5em;
    color: #bef0dd;
    text-shadow: 3px 3px 5px #011c1d;
}

#introducao, #galeria, #temporada2, #personagens{
    margin-top: 2%;
}

.espacocol3{
    margin-bottom: 2%;
}

.imggaleria, .imgsobre{
    border-radius: 10px;
}

.img2temp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
}